@model Superleague.Data.Entities.Country

@{
    ViewData["Title"] = "Country";
}

<style>
    input[type=text] {
        width: 100%;
        border: 1px solid #aaa;
        border-radius: 4px;
        outline: none;
        padding: 4px;
        box-sizing: border-box;
    }

        input[type=text]:focus {
            border-color: black;
            box-shadow: 0 0 4px;
        }
</style>

<body>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="container-fluid">

            <div class="row py-5">

                <div class="col-lg-4">

                    <div class="card shadow border-left-primary mb-4">

                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Edit Country</h6>
                        </div>

                        <div class="card-body">

                            <div class="row">

                                <div class="col-lg-12 col-lg-4 mb-4">

                                    <div class="form-group col-md-12">
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="card-footer">
                            <div class="text-center">
                                <div class="form-group col-md-12">
                                    <input type="submit" onclick="return ValidateInput()" class="btn btn-sm btn-primary float-right" value="Save" />
                                    <a asp-action="Index" class="btn btn-sm btn-outline-dark float-right mr-1">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </form>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
