@model Superleague.Data.Entities.Result

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Result</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="HomeGoals" class="control-label"></label>
                <input asp-for="HomeGoals" class="form-control" />
                <span asp-validation-for="HomeGoals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwayGoals" class="control-label"></label>
                <input asp-for="AwayGoals" class="form-control" />
                <span asp-validation-for="AwayGoals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeYellowCards" class="control-label"></label>
                <input asp-for="HomeYellowCards" class="form-control" />
                <span asp-validation-for="HomeYellowCards" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwayYellowCards" class="control-label"></label>
                <input asp-for="AwayYellowCards" class="form-control" />
                <span asp-validation-for="AwayYellowCards" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeRedCards" class="control-label"></label>
                <input asp-for="HomeRedCards" class="form-control" />
                <span asp-validation-for="HomeRedCards" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwayRedCards" class="control-label"></label>
                <input asp-for="AwayRedCards" class="form-control" />
                <span asp-validation-for="AwayRedCards" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatchId" class="control-label"></label>
                <select asp-for="MatchId" class="form-control" asp-items="ViewBag.MatchId"></select>
                <span asp-validation-for="MatchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

