@model Superleague.Data.Entities.GlobalStats

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GlobalStats</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TotalMatches" class="control-label"></label>
                <input asp-for="TotalMatches" class="form-control" />
                <span asp-validation-for="TotalMatches" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalGoals" class="control-label"></label>
                <input asp-for="TotalGoals" class="form-control" />
                <span asp-validation-for="TotalGoals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoalAverage" class="control-label"></label>
                <input asp-for="GoalAverage" class="form-control" />
                <span asp-validation-for="GoalAverage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeWins" class="control-label"></label>
                <input asp-for="HomeWins" class="form-control" />
                <span asp-validation-for="HomeWins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwayWins" class="control-label"></label>
                <input asp-for="AwayWins" class="form-control" />
                <span asp-validation-for="AwayWins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Draws" class="control-label"></label>
                <input asp-for="Draws" class="form-control" />
                <span asp-validation-for="Draws" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalYellowCards" class="control-label"></label>
                <input asp-for="TotalYellowCards" class="form-control" />
                <span asp-validation-for="TotalYellowCards" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalRedCards" class="control-label"></label>
                <input asp-for="TotalRedCards" class="form-control" />
                <span asp-validation-for="TotalRedCards" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BestAttack" class="control-label"></label>
                <input asp-for="BestAttack" class="form-control" />
                <span asp-validation-for="BestAttack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorstAttack" class="control-label"></label>
                <input asp-for="WorstAttack" class="form-control" />
                <span asp-validation-for="WorstAttack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BestDefence" class="control-label"></label>
                <input asp-for="BestDefence" class="form-control" />
                <span asp-validation-for="BestDefence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorstDefence" class="control-label"></label>
                <input asp-for="WorstDefence" class="form-control" />
                <span asp-validation-for="WorstDefence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MostWins" class="control-label"></label>
                <input asp-for="MostWins" class="form-control" />
                <span asp-validation-for="MostWins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LessWins" class="control-label"></label>
                <input asp-for="LessWins" class="form-control" />
                <span asp-validation-for="LessWins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MostDefeats" class="control-label"></label>
                <input asp-for="MostDefeats" class="form-control" />
                <span asp-validation-for="MostDefeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LessDefeats" class="control-label"></label>
                <input asp-for="LessDefeats" class="form-control" />
                <span asp-validation-for="LessDefeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MostDraws" class="control-label"></label>
                <input asp-for="MostDraws" class="form-control" />
                <span asp-validation-for="MostDraws" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LessDraws" class="control-label"></label>
                <input asp-for="LessDraws" class="form-control" />
                <span asp-validation-for="LessDraws" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MostYellowCards" class="control-label"></label>
                <input asp-for="MostYellowCards" class="form-control" />
                <span asp-validation-for="MostYellowCards" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LessYellowCards" class="control-label"></label>
                <input asp-for="LessYellowCards" class="form-control" />
                <span asp-validation-for="LessYellowCards" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MostRedCards" class="control-label"></label>
                <input asp-for="MostRedCards" class="form-control" />
                <span asp-validation-for="MostRedCards" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LessRedCards" class="control-label"></label>
                <input asp-for="LessRedCards" class="form-control" />
                <span asp-validation-for="LessRedCards" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

