@model Superleague.Models.GlobalStatsViewModel

@{
    ViewData["Title"] = "Statistics";
}


<body id="page-top">

    <div class="container-fluid">

        <div class="row py-3"> 

            <div class="container-fluid d-flex justify-content-center">

           
                @foreach(var team in Model.Teams)
                {
                    <div class="mr-1">
                        <img src="@team.ImageURL" style="width:60px; height:60px; padding-left: 4px"/>
                    </div>
               
                }

            </div>

        </div>

        <div class="row">

            <div class="col-lg-6 mb-4">

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Matches</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                @Model.GlobalStats.TotalMatches
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                @Model.GlobalStats.TotalGoals
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                @Model.GlobalStats.GoalAverage
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-4">

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Results</h6>
                    </div>
                    <div class="card-body">
                        <h4 class="small font-weight-bold">
                            Home Wins <span class="float-right">20%</span>
                        </h4>
                        <div class="progress mb-4">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 60%"
                                 aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="small font-weight-bold">
                            Away Wins <span class="float-right">40%</span>
                        </h4>
                        <div class="progress mb-4">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 40%"
                                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="small font-weight-bold">
                            Draws <span class="float-right">60%</span>
                        </h4>
                        <div class="progress mb-4">
                            <div class="progress-bar" role="progressbar" style="width: 60%"
                                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</body>
