@model Superleague.Models.PlayerViewModel

@{
    ViewData["Title"] = "New Player";
}
<head>
    <link rel="stylesheet" href="~/css/player.css" />
</head>

<body>
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Player.TeamId" hidden />

        <div class="container-fluid">

            <div class="d-sm-flex align-items-center justify-content-between">
                <h1 class="h3 mb-0 text-gray-800">New Player</h1>
            </div>

            <div class="row py-5">

                <div class="col-lg-8">

                    <div class="card shadow border-left-primary mb-4">

                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Player Details</h6>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-9 col-lg-3">

                                    <img id="output" style="width:150px; height:160px" class="border-primary my-1 ml-4" onchange="readURL(this)" />
                                    <label class="text-center ml-4" asp-for="Player.ImageURL" for="uploadBox"> <i class="fas fa-camera-alt"></i> Image</label>
                                    <input type="file" id="uploadBox" name="file" asp-for="Player.ImageURL" class="form-control" accept="image/jpeg, image/png" onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" />

                                </div>
                                <div class="col-md-9 col-lg-5 py-4">

                                    <div class="form-group col-md-12">
                                        <input asp-for="Player.Name" class="form-control" placeholder="Name" />
                                        <span asp-validation-for="Player.Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <input asp-for="Player.Number" class="form-control" value="1" />
                                        <i class="fa-solid fa-shirt icon" aria-hidden="true"></i>
                                        <span asp-validation-for="Player.Number" class="text-danger"></span>
                                       
                                    </div>

                                </div>
                                <div class="col-md-9 col-lg-4 py-4">

                                    <div class="form-group col-md-12">
                                        <select asp-for="Player.PositionId" asp-items="@Model.PositionList" class="select">
                                            <option disabled selected> Select Position </option>
                                        </select>
                                        <span asp-validation-for="Player.PositionId" class="text-danger"></span>
                                        
                                    </div>
                                    <div class="form-group col-md-12">
                                        <select asp-for="Player.CountryId" asp-items="@Model.CountryList" class="select">
                                            <option disabled selected> Select Country </option>
                                        </select>
                                        <span asp-validation-for="Player.CountryId" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="card-footer">
                            <div class="text-center">
                                <div class="form-group col-md-12">
                                    <input type="submit" onclick="return ValidateInput()" class="btn btn-secondary float-right" value="  Add  " />
                                    <a href="##" onClick="history.go(-1); return false;" class="btn btn-outline-dark float-right mr-1">Cancel</a>
                                </div>
                            </div>
                        </div>



                    </div>

                </div>

            </div>

        </div>

    </form>

    <script>
        function ValidateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'No image was uploaded!',
                });
                return false;
            }
            return true;
        }
    </script>

</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
