input[type=text] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 1px;
}

    input[type=text]:focus {
        border-color: black;
        box-shadow: 0 0 2px black;
    }

.select {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    height: 40px;
    margin-bottom: 1px;
}

    .select:focus {
        border-color: black;
        box-shadow: 0 0 2px black;
    }

input[type=number] {
    width: 80%;
    border: 2px solid #aaa;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 1px;
    padding-left: 40px;
    float: right;
}
    input[type=number]:focus {
        border-color: black;
        box-shadow: 0 0 2px black;
    }

.icon {
    position: absolute;
    left: 25px;
    padding: 9px 8px;
    color: #aaa;
    transition: .3s;
    margin-bottom: 1px;
}

input[type=file] {
    display: none;
}

label {
    height: 30px;
    width: 150px;
    border: 2px solid #aaa;
    border-radius: 4px;
    border-color: royalblue;
    margin: 3px 0;
    outline: none;
    padding: 3px;
    box-sizing: border-box;
    background-color: royalblue;
    color: white;
    justify-content: center;
    align-items: center;
}

    label:hover {
        background-color: royalblue;
        border-color: royalblue;
        cursor: pointer;
    }




