input[type=text] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
}

    input[type=text]:focus {
        border-color: royalblue;
        box-shadow: 0 0 2px black;
    }

input[type=file] {
    display: none;
}

label {
    height: 30px;
    width: 100px;
    border: 2px solid #aaa;
    border-radius: 4px;
    border-color: royalblue;
    margin: 6px 0;
    outline: none;
    padding: 2px;
    box-sizing: border-box;
    background-color: royalblue;
    color: white;
    justify-content: center;
    align-items: center;
}

    label:hover {
        background-color: royalblue;
        border-color: royalblue;
        cursor: pointer;
    }

.select {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 6px;
    box-sizing: border-box;
    height: 40px;
}

.select:hover {
    cursor:pointer;
}

    .select:focus {
        border-color: royalblue;
        box-shadow: 0 0 2px black;
    }

.nav-pills .nav-link.active {
    font: 700;
}

.nav-pills .nav-link {
    color: black;
}

.image1 {
    width: 40px;
    height: 50px;
}

.tbl-container {
    width: fit-content;
    max-height: 500px;
}

.tbl-fixed {
    overflow-y: scroll;
    overflow-x: auto;
    max-height: 500px;
}

table {
    width: fit-content;
    border-collapse: collapse;
    border-spacing: 0;
}

    table th {
        position: sticky;
        top: 0px;
        background-color: lightgray;
        text-align: center;
        border: 1px;
        color: black;
    }

    table td {
        text-align: center;
    }

    table tr:nth-child(even):hover {
        background-color: lightblue;
        color: black;
    }

    table tr:nth-child(odd):hover {
        background-color: lightblue;
        color: black;
    }

.table-sortable th {
    cursor: pointer;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
}

.table-sortable .th-sort-desc::after {
    content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
}

input[type=search] {
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: -20px;
    height: 35px;
}

    input[type=search]:focus {
        border-color: royalblue;
        box-shadow: 0 0 2px royalblue;
        margin-bottom: -20px;
    }
