input[type=text] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 1px;
}

    input[type=text]:focus {
        border-color: black;
        box-shadow: 0 0 2px;
    }

.icon {
    position: absolute;
    left: 125px;
    top: 10px;
    padding: 9px 8px;
    color: #aaa;
    transition: .3s;
}

input[type=file] {
    display: none;
}

.select {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 4px;
    box-sizing: border-box;
    height: 35px;
}

    .select:focus {
        border-color: black;
        box-shadow: 0 0 2px;
    }

    .select:hover {
        cursor: pointer;
    }

label {
    height: 30px;
    width: 140px;
    border: 2px solid #aaa;
    border-radius: 4px;
    border-color: royalblue;
    margin: 6px 0;
    outline: none;
    padding: 2px;
    box-sizing: border-box;
    background-color: royalblue;
    color: white;
    justify-content: center;
    align-items: center;
}

    label:hover {
        background-color: royalblue;
        border-color: royalblue;
        cursor: pointer;
    }


