@model IEnumerable<Superleague.Data.Entities.Function>

@{
    ViewData["Title"] = "Functions";
}

<style>
    .styled-table thead tr {
        background-color: black;
        color: #ffffff;
    }
</style>

<body id="page-top">

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between">
            <h1 class="h5 mb-0 text-gray-800 my-2">Functions</h1>
        </div>

        <div class="card shadow mb-4 py-3">
            <div class="card-header">
                <a asp-action="Create" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Add New
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tableFunctions" class="table styled-table table-striped" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="width: 90%">@item.Description</td>
                                    <td class="text-center" id="@item.Id">
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn text-primary"> <i class="fa-solid fa-pen-to-square"></i> </a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn text-danger" id="btnDeleteItem"><i class="fa-solid fa-trash-can"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <!--Modal-->
                    <div id="deleteDialog" class="modal fade">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title text-danger">Delete</h4>
                                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
                                </div>
                                <div class="modal-body">
                                    <h5 class="text-center">Are you sure?</h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" id="btnYesDelete">Yes, Delete</button>
                                    <button type="button" class="btn btn-outline-secondary" id="btnNoDelete">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modal-->

                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#tableFunctions').DataTable();
        });

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var id = 0;

            $("a[id*=btnDeleteItem]").click(function () {
                //debugger;
                id = $(this).parent()[0].id;
                $("#deleteDialog").modal("show");
                return false;
            });

            $("#btnNoDelete").click(function () {
                $("#deleteDialog").modal("hide");
                return false;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = "/Functions/Delete/" + id;
            });
        });
    </script>
}
