@model IEnumerable<Superleague.Data.Entities.Function>

@{
    ViewData["Title"] = "Functions";
}

<style>
    .styled-table thead tr {
        background-color: black;
        color: #ffffff;
    }
</style>

<body id="page-top">

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between">
            <h1 class="h5 mb-0 text-gray-800 my-2">Functions</h1>
        </div>

        <div class="card shadow mb-4 py-3">
            <div class="card-header">
                <a asp-action="Create" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Add New
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tableFunctions" class="table styled-table table-striped" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="width: 90%">@item.Description</td>
                                    <td class="text-center">
                                        <div class="btn btn-sm btn-group" role="group">
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn text-primary"> <i class="fa-solid fa-pen-to-square"></i></a>
                                            <button class="deleteTask btn text-danger" data-id="@item.Id" data-toggle="modal" data-target="#deleteTaskModal">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </button>
                                        </div>

                                        <!--Modal-->
                                        <div class="modal fade" id="deleteTaskModal" tabindex="-1" aria-hidden="true" role="dialog" style="display:none">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title text-danger" id="exampleModalLabel1">Delete Function</h5>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="container-fluid d-flex justify-content-center">
                                                                <div class="mb-3">
                                                                    <h5 class="text-center">You are about to delete this function</h5>
                                                                    <h6 class="text-center">Are you sure?</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                        <form method="post" asp-controller="Functions" asp-action="Delete" asp-route-id="@item.Id">
                                                            <input type="submit" value="Yes, Delete" class="btn btn-danger" />
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Modal-->
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#tableFunctions').DataTable();
        });

        $("#deleteTaskModal").on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) //Button that triggered the modal
            var id = button.find('button').data('id') //need to find the button and get id
            var url = '/delete/' + id; //url

            //Click delete task in modal
            $(document).on('click', '.delete_task', function () {
                if (confirm('Delete task')) {
                    $.ajax({
                        url: url,
                        type: "DELETE",
                        success: function (result) {
                            $('#deleteTaskModal').modal('hide') //hide modal on success
                            console.log("Deleting...");
                            window.location.href = '/';
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    })
                }
            })
        })
    </script>
}
