@model Superleague.Data.Entities.Round

@{
    ViewData["Title"] = "Rounds";
}

<style>
    input[type=text] {
        width: 100%;
        border: 1px solid #aaa;
        border-radius: 4px;
        outline: none;
        padding: 4px;
        box-sizing: border-box;
    }

        input[type=text]:focus {
            border-color: black;
            box-shadow: 0 0 4px;
        }
</style>

<body>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="container-fluid">

            <div class="d-sm-flex align-items-center justify-content-between">
                <h1 class="h3 mb-0 text-gray-800">Rounds <i class="fa-solid fa-angle-right"></i> Add New</h1>
            </div>

            <div class="row py-5">

                <div class="col-lg-4">

                    <div class="card shadow border-left-success mb-4">

                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-success">Info</h6>
                        </div>

                        <div class="card-body">

                            <div class="row">

                                <div class="col-lg-12 col-lg-4 mb-4">

                                    <div class="form-group col-md-12">
                                        <input asp-for="Description" class="form-control" placeholder="Round #" />
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="card-footer">
                            <div class="text-center">
                                <div class="form-group col-md-12">
                                    <input type="submit" onclick="return ValidateInput()" class="btn btn-sm btn-success float-right" value="  Add  " />
                                    <a asp-action="Index" class="btn btn-sm btn-outline-dark float-right mr-1">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </form>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

