<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>@ViewData["Title"] - Super League </title>

    <!-- Custom fonts for this template-->
    <link href="~/theme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/theme/css/sb-admin-2.min.css" rel="stylesheet" asp-append-version="true">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
</head>

<body id="page-top">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                            THE SUPER LEAGUE
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Matches" asp-action="Index">Fixtures</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Results" asp-action="Index">Results</a>
                    </li>
@*                    <li class="nav-item dropdown">
                        <a class="nav-link text-dark text-center" asp-area="" asp-controller="Statistics" asp-action="Index">Standings</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-dark text-center" asp-area="" asp-controller="GlobalStatistics" asp-action="Index">Global</a>
                    </li>*@
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Standings
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" asp-controller="Statistics" asp-action="Index">
                                <i class="fa-solid fa-ranking-star fa-fw mr-2 text-gray-600"></i>
                                Table
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="GlobalStats" asp-action="Index">
                                <i class="fa-solid fa-chart-pie fa-fw mr-2 text-gray-600"></i>
                                Statistics
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Teams" asp-action="Index">Clubs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Players" asp-action="Index">Players</a>
                    </li>
                    <li class="nav-item">
                        
                    </li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link text-light" asp-controller="Account" asp-action="Login">Login</a>
                </li>
            </ul>
        </nav>
    </header>

    <div id="wrapper">
        <div class="container-fluid col-lg-10 justify-content-between">
            <main role="main" class="pb-3">
                <partial name="_Notification" />
                @RenderBody()
            </main>

        </div>
    </div>

    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; 2022 - The Super League</span>
            </div>
        </div>
    </footer>


    <!-- Bootstrap core JavaScript-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="~/theme/vendor/jquery/jquery.min.js"></script>
    <script src="~/theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/theme/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/theme/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/theme/vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="js/demo/datatables-demo.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/theme/js/demo/chart-area-demo.js"></script>
    <script src="~/theme/js/demo/chart-pie-demo.js"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
