@model Superleague.Models.RegisterViewModel

@{
    ViewData["Title"] = "New User";
}

<head>
    <style>
        label {
            height: 30px;
            width: 150px;
            border: 2px solid #aaa;
            border-radius: 4px;
            border-color: dimgray;
            margin: 6px 0;
            outline: none;
            padding: 2px;
            box-sizing: border-box;
            background-color: dimgray;
            color: white;
            justify-content: center;
            align-items: center;
        }

        label:hover {
            cursor: pointer;
        }

        input[type=file] {
            display: none;
        }

        input[type=text] {
            width: 100%;
            border: 1px solid #aaa;
            border-radius: 4px;
            outline: none;
            padding: 4px;
            box-sizing: border-box;
        }

        input[type=text]:focus {
            border-color: black;
            box-shadow: 0 0 4px;
        }

        input[type=email] {
            width: 100%;
            border: 1px solid #aaa;
            border-radius: 4px;
            outline: none;
            padding: 4px;
            box-sizing: border-box;
        }

            input[type=email]:focus {
                border-color: black;
                box-shadow: 0 0 4px;
            }

        input[type=password] {
            width: 100%;
            border: 1px solid #aaa;
            border-radius: 4px;
            outline: none;
            padding: 4px;
            box-sizing: border-box;
        }

            input[type=password]:focus {
                border-color: black;
                box-shadow: 0 0 4px;
            }

        .select {
            width: 100%;
            border: 1px solid #aaa;
            border-radius: 4px;
            outline: none;
            padding: 4px;
            box-sizing: border-box;
        }

        .select:focus {
            border-color: black;
            box-shadow: 0 0 2px;
        }

        .select:hover {
            cursor: pointer;
        }
    </style>

    <script src="jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <form method="post" asp-action="Register" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="container-fluid">

            <div class="d-sm-flex align-items-center justify-content-between">
                <h1 class="h3 mb-0 text-gray-800">Users <i class="fa-solid fa-angle-right"></i> Add New</h1>
            </div>

            <div class="row py-5">

                <div class="col-lg-8">

                    <div class="card shadow border-left-success mb-4">

                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-success">User Info</h6>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 col-lg-4">

                                    <img id="output" style="width:150px; height:160px" class="border-primary my-1 ml-4" onchange="readURL(this)" />
                                    <label class="text-center ml-4" asp-for="ImageURL" for="uploadBox"> <i class="fas fa-camera-alt"></i> Image</label>
                                    <input type="file" id="uploadBox" name="file" asp-for="ImageURL" class="form-control" accept="image/jpeg, image/png" onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" />


                                </div>
                                <div class="col-md-4 col-lg-4 py-2">
                
                                    <div class="form-group col-md-12">
                                        <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <input asp-for="Email" class="form-control" placeholder="Email" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <input asp-for="Password" class="form-control" placeholder="Password" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <select asp-for="Role" asp-items="@Model.RoleList" class="form-select select" name="Role">
                                            <option disabled selected>Select Role</option>
                                        </select>
                                        <span asp-validation-for="Role" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-9 col-lg-4 py-2">
                                   
                                    <div class="form-group col-md-12">
                                        <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" />
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <select asp-for="TeamId" style="display:none;" asp-items="@Model.ClubList" class="form-select select" name="TeamId">
                                            <option disabled selected>Select Club</option>
                                        </select>
                                        <span asp-validation-for="TeamId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="card-footer">
                            <div class="text-center">
                                <div class="form-group col-md-12">
                                    <input type="submit" onclick="return ValidateInput()" class="btn btn-sm btn-success float-right" value="  Add  " />
                                    <a asp-action="ListUsers" class="btn btn-sm btn-outline-dark float-right mr-1">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $('#Role').change(function () {
                var selection = $('#Role Option:Selected').text();
                if (selection != 'Club') {
                    $('#TeamId').hide();
                }
                else {
                    $('#TeamId').show();
                }
            })
        })
    </script>

    <script>
        function ValidateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'No image was uploaded!',
                });
                return false;
            }
            return true;
        }
    </script>
}

    
       


   
